<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/diamond_logo.jpg">

    <title>Diamond stock app</title>


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron_narrow.css" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


</head>

<body>
   

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                    
                    <li role="presentation">
                        <a href='/'>Home</a>
                    </li>
                    <li role="presentation">
                        <a href='/showSignUp'>Register</a>
                    </li>
                    <li role="presentation">
                        <a href="/showDiamondLog">Diamond Login</a>
                    </li>
                    <li role="presentation">
                        <a href="/showSignin">Sign in</a>
                    </li>
                </ul>
            </nav>
            <h3> <img src="../static/images/diamond_logo.jpg" align="middle" style="width:240px;height:128px;border:0;"></h3>
        </div>


        <div class="row marketing" >
            <div class="col-lg-2">
<h4>Find us on Google Maps</h4>  
<p><a href="https://goo.gl/maps/linktobranch">branch1</a><p>
<p><a href="https://goo.gl/maps/linktobranch">branch2</a><p>
<p><a href="https://goo.gl/maps/linktobranch">branch3</a><p>

</div>

        
            <div class="col-lg-4">
<h4> Busines hours:</h4> 
<p> Monday:<br> 08:00 - 17:30<p>
<p> Tuesday:<br>Closed for stock take<p>
<p> Wednesday:<br> 08:00 - 16:30<p>
<p> Thursday:<br> 08:00 - 16:30<p>
<p> Friday:<br> 08:00 - 16:00<p>
<p> Saturday:<br> Last two Saturdays of every segment (Phone to confirm) <p>
</div>
        
            <div class="col-lg-4">
<h4> Contact us:</h4>
<p> branch1:<br>tel number here<p>
<p> branch2 :<br> tel number here<p>
<p> branch3:<br> tel number here<p>

</div>

            <div class="col-lg-1">
<h4> Queries:</h4>
<select name="forma" onchange="location = this.value;">
 <option value="" disabled="disabled" selected="selected">Please select an option</option>
 <option value='/showJoin/'>I want to join</option>
 <option value='/showDefective'>I have a defective querie</option>
 <option value='/showSparesQuery'>I have a query about spares</option>
<!--  <option value='/showOther'>Other</option> -->
</select>
  <br><br>



</div>

</body>

</html>