<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/diamond_logo.jpg">

    <title>Diamond stock app</title>


    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron_narrow.css" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    
</head>

<body>
    

    <div class="container">
        <div class=class="col-lg-2">
            <nav>
                <ul class="nav nav-pills pull-right">

                    <li role="presentation">
                        <a href="/showContact">Contact us</a>
                    </li>
                    <li role="presentation">
                        <a href="/showDiamondLog">Diamond Login</a>
                    </li>
                    <li role="presentation">
                        <a href="/showSignin">Sign in</a>
                    </li>
                </ul>
            </nav>
            <h3> <img src="../static/images/diamond_logo.jpg" align="middle" style="width:240px;height:128px;border:0;"></h3>
        
        
        <div class="jumbotron"  align="center" style="width:650px;height:200px;border:5;"">
            <h1>Diamond stock app</h1>
            <p class="lead"></p>
            
                <a class="btn btn-lg btn-success" href="/showSignUp" role="button">Register here</a>
    </div>
        </div>
        <div class="row marketing">
            <div class="col-lg-13">
           

        <footer class="footer">
            <p>&copy; Diamond Sales 2017</p>
        </footer>

 <p class="disclaimer"> Please note that this application is intended for use of <strong>registered</strong> and <strong>active</strong>  demonstrators<br> of<strong> Diamond Sales</strong> only
            and is not intended for marketing purposes<p>
            </p>

   



</body>

</html>





